$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

p {}

h2 {}

h3 {}

// Header //
header {  
    h1 {
      font-family: "Shrikhand", "cursive";
      text-align: center;
    }
  }

