button {
    border: 0;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 100px;
    color: white;
    background-color: rgb(104, 104, 104);
    background-image: linear-gradient(-10deg, $color-primary, $color-secondary);
    cursor: pointer;
    box-shadow: 0.25rem 0.25rem 10px $shadow;
    display: block;
    margin: auto;
    
    a {
      text-decoration: none;
      color: inherit;
    }
  }

@mixin box {
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem 10px $shadow;
  }
  
article {
  @include box;
  background-color: $color-bg2;
  overflow: hidden;

  .article__text {
    padding: 0.5rem;
    position: relative;

    h4 {
      margin: 0.25rem;
    }

    p {
      margin: 0.25rem;
    }
  }
}
