@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
}

p, a, h2, h3, h4 {
  font-family: "Roboto", sans-serif;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  font-family: "Shrikhand", "cursive";
  font-weight: 500;
  font-size: 1.75rem;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  position: relative;
}
h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

header {
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 20;
  padding: 1rem 1rem 0.5rem 1rem;
}
header .header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.9rem;
  text-align: center;
  line-height: 2.25rem;
}
header .header--arrow {
  position: relative;
}
header a::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  color: white;
  position: absolute;
  top: 1.5rem;
  left: 2.5rem;
  font-size: 1.2rem;
  color: black;
}

main {
  margin: auto;
  padding: 1rem;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  background-color: #353535;
  padding: 1rem;
}
footer .footer_wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
footer .footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer ul li {
  margin: 0.5rem 0;
}
footer ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  color: white;
  margin-right: 0.5rem;
  width: 1rem;
}
footer ul li:first-child::before {
  content: "";
}
footer ul li:nth-of-type(2)::before {
  content: "";
}
footer ul a {
  color: white;
  text-decoration: none;
}
footer ul a:hover {
  text-decoration: underline;
}

button {
  border: 0;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 100px;
  color: white;
  background-color: #686868;
  background-image: linear-gradient(-10deg, #9356DC, #FF79DA);
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  display: block;
  margin: auto;
}
button:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
}
button a {
  text-decoration: none;
  color: inherit;
}

article {
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  overflow: hidden;
}
article:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
}
article:hover .article__cover img {
  transform: scale(1.1);
}
article .article__cover {
  overflow: hidden;
  position: relative;
  max-height: 13rem;
}
article .article__cover img {
  height: 13rem;
  width: 100%;
  object-fit: cover;
  transition-duration: 0.5s;
}
article .article__cover--new {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.25rem;
  right: 0.75rem;
  position: absolute;
  z-index: 10;
}
article .article__text {
  padding: 0.5rem;
  position: relative;
  display: flex;
}
article .article__text--wrapper {
  flex: 1;
}
article .article__text h4 {
  margin: 0.25rem;
  font-size: 1.1rem;
}
article .article__text p {
  margin: 0.25rem;
}
article .article__heart {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-size: 1.5rem;
}
article .article__heart::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  font-size: inherit;
  display: block;
  transition-duration: 0.5s;
}
article .article__heart:hover::after {
  font-weight: 900;
  background-image: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80vh;
  left: calc(50% - 40px);
  animation: 0.2s ease-in 3s forwards disappear;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  margin-top: calc(40vh - 32px);
  border: 8px solid #9356DC;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #9356DC transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.hero {
  text-align: center;
}
.hero__location {
  background-color: #e9e9e9;
  margin: 0;
  padding: 1rem 0;
  max-width: 100%;
}
.hero__location::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  margin-right: 0.75rem;
  width: 1rem;
  content: "";
}
.hero__wrapper {
  padding: 2rem;
}
.hero__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
.hero__subtitle {
  margin: 0;
  font-weight: 300;
}
.hero__cta {
  font-weight: 600;
  margin-top: 2rem;
}

.features {
  background-color: #fff;
  margin: 0 -1rem;
  padding: 3rem 1rem;
}
@media (min-width: 1024px) {
  .features {
    border-radius: 2rem;
  }
}
.features__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .features__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature {
  border-radius: 1rem;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.2);
  background-color: #f6f6f6;
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-weight: 600;
  position: relative;
  transition-duration: 0.2s;
  transition-property: background-color;
}
.feature:hover {
  background-color: #f2eafb;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
}
.feature::before {
  content: "1";
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: white;
  background-color: #9356DC;
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  position: absolute;
  left: -1rem;
  top: 1.4rem;
}
.feature:nth-of-type(1)::before {
  content: "1";
}
.feature:nth-of-type(2)::before {
  content: "2";
}
.feature:nth-of-type(3)::before {
  content: "3";
}
.feature__text::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  color: #909090;
  margin: 0 1.25rem 0 1.5rem;
  width: 1rem;
}
.feature:nth-of-type(1) .feature__text::before {
  content: "";
}
.feature:nth-of-type(2) .feature__text::before {
  content: "";
}
.feature:nth-of-type(3) .feature__text::before {
  content: "";
}

.restaurants {
  margin: 3rem 0;
}
.restaurants a {
  text-decoration: none;
  color: inherit;
}
.restaurants__wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}
@media (min-width: 1024px) {
  .restaurants__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@keyframes appear {
  to {
    opacity: 1;
    height: 100%;
  }
}
.index__content--appear {
  opacity: 0;
  height: 80vh;
  overflow: hidden;
  animation: 0.5s ease-in 3s forwards appear;
}

.hero--resto {
  width: 100%;
  max-height: 20rem;
  object-fit: cover;
}

.main--resto {
  position: relative;
  top: -2rem;
  z-index: 10;
  background-color: #f6f6f6;
  border-radius: 2rem 2rem 0 0;
  display: grid;
  grid-template-columns: repeat(1, 100%);
  column-gap: 1rem;
}
@media (min-width: 1024px) {
  .main--resto {
    grid-template-columns: repeat(3, 330.6666666667px);
  }
}
.main--resto h1 {
  margin: 0.75rem 0;
  flex: 1;
  display: block;
}
.main--resto button {
  margin-top: 1rem;
}
@media (min-width: 1024px) {
  .main--resto button {
    grid-column: 1/4;
  }
}
.main__title {
  display: flex;
}
@media (min-width: 1024px) {
  .main__title {
    grid-column: 1/4;
  }
}
.main__heart {
  display: flex;
  align-items: center;
  padding-right: 0.5rem;
  font-size: 2rem;
}
.main__heart::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
  font-size: inherit;
  display: block;
  transition-duration: 0.5s;
}
.main__heart:hover::after {
  font-weight: 900;
  background-image: linear-gradient(-10deg, #9356DC, #FF79DA);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.menu__wrapper {
  margin-bottom: 1rem;
}
.menu__wrapper h4 {
  font-size: 1.2rem;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__wrapper article {
  max-width: 100%;
  opacity: 0;
  top: 1rem;
  position: relative;
  display: flex;
  margin-bottom: 0.5rem;
}
.menu__wrapper:nth-of-type(2) article:nth-of-type(1) {
  animation: chainappear 1s 0.4s forwards;
}
.menu__wrapper:nth-of-type(2) article:nth-of-type(2) {
  animation: chainappear 1s 0.6s forwards;
}
.menu__wrapper:nth-of-type(2) article:nth-of-type(3) {
  animation: chainappear 1s 0.8s forwards;
}
.menu__wrapper:nth-of-type(3) article:nth-of-type(1) {
  animation: chainappear 1s 1s forwards;
}
.menu__wrapper:nth-of-type(3) article:nth-of-type(2) {
  animation: chainappear 1s 1.2s forwards;
}
.menu__wrapper:nth-of-type(3) article:nth-of-type(3) {
  animation: chainappear 1s 1.4s forwards;
}
.menu__wrapper:nth-of-type(4) article:nth-of-type(1) {
  animation: chainappear 1s 1.6s forwards;
}
.menu__wrapper:nth-of-type(4) article:nth-of-type(2) {
  animation: chainappear 1s 1.8s forwards;
}
.menu__wrapper:nth-of-type(4) article:nth-of-type(3) {
  animation: chainappear 1s 2s forwards;
}
.menu__article {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block !important;
  flex: 1;
}
.menu__description {
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__price {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0 0.75rem 0.75rem 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.menu__confirm {
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menu__confirm::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  color: #99E2D0;
  border-radius: 1rem;
  padding: 5px;
  background-color: #f6f6f6;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
article:hover .menu__confirm {
  margin-right: 0rem;
}
article:hover .menu__confirm::after {
  transform: rotate(0);
}

@keyframes chainappear {
  to {
    opacity: 1;
    top: 0;
  }
}

/*# sourceMappingURL=main.css.map */
